In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression

In [2]:
#loading data
raw_happy2015_df=pd.read_csv("world_happiness/2015.csv")
raw_happy2016_df=pd.read_csv("world_happiness/2016.csv")
raw_happy2017_df=pd.read_csv("world_happiness/2017.csv")
raw_happy2018_df=pd.read_csv("world_happiness/2018.csv")
raw_happy2019_df=pd.read_csv("world_happiness/2019.csv")

#creating copies to preserve orginal dataframes
happy2015_df=raw_happy2015_df.copy()
happy2016_df=raw_happy2016_df.copy()
happy2017_df=raw_happy2017_df.copy()
happy2018_df=raw_happy2018_df.copy()
happy2019_df=raw_happy2019_df.copy()

In [3]:
happy2015_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [4]:
pd.set_option('display.max_columns', None)
happy2015_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
happy2016_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [6]:
happy2017_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [7]:
happy2017_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [8]:
happy2018_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [9]:
happy2018_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [10]:
happy2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [11]:
happy2019_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

### Data Cleaning
- renaming columns (lowercase, remove spaces and replace with underscores, remove any other puncuntation)
- removing countries that do not appear across all years
- removing rows that don't appear across all years 
- combine all years into master dataframe (combine this with Gini index afterwards)

## Cleaning columns for happy2015_df

In [12]:
#drop columns not in other dataframes
happy2015_df.drop(columns=['Region','Standard Error', 'Dystopia Residual'], inplace=True)

#making columns headings lowercase
happy2015_df.columns = happy2015_df.columns.str.lower()

#change column names to use underscore instead of spaces
columns = happy2015_df.columns

corrected_columns = []
for col in columns:
    col = col.replace('(','').replace(')','').replace(' ','_')
    corrected_columns.append(col)
    

#changing names of certain columns to be consisent with the rest of the dataframes
corrected_columns[3] = 'gdp_per_capita'
corrected_columns[4] = 'family_social_support'
    
happy2015_df.columns = corrected_columns

happy2015_df.columns

Index(['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita',
       'family_social_support', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity'],
      dtype='object')

In [13]:
#adding a year column
happy2015_df.insert(loc=1, column='year', value=2015)
happy2015_df.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'gdp_per_capita', 'family_social_support', 'health_life_expectancy',
       'freedom', 'trust_government_corruption', 'generosity'],
      dtype='object')

## Cleaning columns for happy2016_df

In [14]:
#drop columns not in other dataframes
happy2016_df.drop(columns=['Region','Lower Confidence Interval','Upper Confidence Interval', 'Dystopia Residual'], inplace=True)

#making columns headings lowercase
happy2016_df.columns = happy2016_df.columns.str.lower()

#change column names to use underscore instead of spaces
columns = happy2016_df.columns

corrected_columns = []
for col in columns:
    col = col.replace('(','').replace(')','').replace(' ','_')
    corrected_columns.append(col)
    

#changing names of certain columns to be consisent with the rest of the dataframes
corrected_columns[3] = 'gdp_per_capita'
corrected_columns[4] = 'family_social_support'
    
happy2016_df.columns = corrected_columns

happy2016_df.columns

Index(['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita',
       'family_social_support', 'health_life_expectancy', 'freedom',
       'trust_government_corruption', 'generosity'],
      dtype='object')

In [15]:
#adding a year column
happy2016_df.insert(loc=1, column='year', value=2016)
happy2016_df.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'gdp_per_capita', 'family_social_support', 'health_life_expectancy',
       'freedom', 'trust_government_corruption', 'generosity'],
      dtype='object')

## Cleaning columns for happy2017_df

In [16]:
#drop columns not in other dataframes
happy2017_df.drop(columns=['Whisker.high','Whisker.low', 'Dystopia.Residual'], inplace=True)

#making columns headings lowercase
happy2017_df.columns = happy2017_df.columns.str.lower()

#change column names to use underscore instead of spaces
columns = happy2017_df.columns

corrected_columns = []
for col in columns:
    col = col.replace('..','.').replace('.','_')
    corrected_columns.append(col)
    

#changing names of certain columns to be consisent with the rest of the dataframes
corrected_columns[3] = 'gdp_per_capita'
corrected_columns[4] = 'family_social_support'
corrected_columns[5] = 'health_life_expectancy'
corrected_columns[8] = 'trust_government_corruption'
    
happy2017_df.columns = corrected_columns

happy2017_df.columns

Index(['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita',
       'family_social_support', 'health_life_expectancy', 'freedom',
       'generosity', 'trust_government_corruption'],
      dtype='object')

In [17]:
#adding a year column
happy2017_df.insert(loc=1, column='year', value=2017)

happy2017_df.columns

Index(['country', 'year', 'happiness_rank', 'happiness_score',
       'gdp_per_capita', 'family_social_support', 'health_life_expectancy',
       'freedom', 'generosity', 'trust_government_corruption'],
      dtype='object')

## Cleaning columns for happy2018_df

In [18]:
#making columns headings lowercase
happy2018_df.columns = happy2018_df.columns.str.lower()

#change column names to use underscore instead of spaces
columns = happy2018_df.columns

corrected_columns = []
for col in columns:
    col = col.replace(' ','_')
    corrected_columns.append(col)
    

#changing names of certain columns to be consisent with the rest of the dataframes
corrected_columns[0] = 'happiness_rank'
corrected_columns[1] = 'country'
corrected_columns[2] = 'happiness_score'
corrected_columns[4] = 'family_social_support'
corrected_columns[5] = 'health_life_expectancy'
corrected_columns[6] = 'freedom'
corrected_columns[8] = 'trust_government_corruption'
    
happy2018_df.columns = corrected_columns

happy2018_df.columns

Index(['happiness_rank', 'country', 'happiness_score', 'gdp_per_capita',
       'family_social_support', 'health_life_expectancy', 'freedom',
       'generosity', 'trust_government_corruption'],
      dtype='object')

In [19]:
#adding a year column
happy2018_df.insert(loc=1, column='year', value=2018)

## Cleaning columns for happy2019_df

In [20]:
#making columns headings lowercase
happy2019_df.columns = happy2019_df.columns.str.lower()

#change column names to use underscore instead of spaces
columns = happy2019_df.columns

corrected_columns = []
for col in columns:
    col = col.replace(' ','_')
    corrected_columns.append(col)
    

#changing names of certain columns to be consisent with the rest of the dataframes
corrected_columns[0] = 'happiness_rank'
corrected_columns[1] = 'country'
corrected_columns[2] = 'happiness_score'
corrected_columns[4] = 'family_social_support'
corrected_columns[5] = 'health_life_expectancy'
corrected_columns[6] = 'freedom'
corrected_columns[8] = 'trust_government_corruption'
    
happy2019_df.columns = corrected_columns

happy2019_df.columns

Index(['happiness_rank', 'country', 'happiness_score', 'gdp_per_capita',
       'family_social_support', 'health_life_expectancy', 'freedom',
       'generosity', 'trust_government_corruption'],
      dtype='object')

In [21]:
#adding a year column
happy2019_df.insert(loc=1, column='year', value=2019)
happy2019_df.columns

Index(['happiness_rank', 'year', 'country', 'happiness_score',
       'gdp_per_capita', 'family_social_support', 'health_life_expectancy',
       'freedom', 'generosity', 'trust_government_corruption'],
      dtype='object')

## Cleaning rows

### All dataframes now have the same amount of columns and the names are consisent 
### Now the countries need to be consistent across all data frames

## Cleaning rows from happy2015_df and happy2017_df

In [22]:
# Turning country columns to sets to make it easier to determine differences between them
countries_2017 = set(happy2017_df['country'].sort_values())
countries_2015 = set(happy2015_df['country'].sort_values())

#comparing each set to the countries_2017 set since it contains the least amount of items
non_matches = countries_2017 ^ countries_2015

#differences between the dataframes
non_matches

{'Belize',
 'Comoros',
 'Djibouti',
 'Hong Kong',
 'Hong Kong S.A.R., China',
 'Laos',
 'Namibia',
 'Oman',
 'Somalia',
 'Somaliland region',
 'South Sudan',
 'Suriname',
 'Swaziland',
 'Taiwan',
 'Taiwan Province of China'}

In [23]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
happy2017_df.loc[happy2017_df['country'].str.contains('Hong')]

#using .at to select value
happy2017_df.at[70, "country"] = 'Hong Kong'
print(happy2017_df.at[70, "country"])

Hong Kong

In [24]:
happy2017_df.loc[happy2017_df['country'].str.contains('Tai')]

#using .at to select value
happy2017_df.at[32, "country"] = 'Taiwan'
print(happy2017_df.at[32, "country"] )

Taiwan

In [25]:
#running the set operation a second time
countries_2017 = set(happy2017_df['country'].sort_values())
countries_2015 = set(happy2015_df['country'].sort_values())

non_matches = countries_2017 ^ countries_2015

#remoing countries in no_matches from the dataframes
non_matches = list(non_matches)
print(non_matches)

happy2017_df = happy2017_df.loc[~happy2017_df['country'].isin(non_matches)]
happy2015_df = happy2015_df.loc[~happy2015_df['country'].isin(non_matches)]

#Also going to remove these from the rest of the dataframes
happy2016_df = happy2016_df.loc[~happy2016_df['country'].isin(non_matches)]
happy2018_df = happy2018_df.loc[~happy2018_df['country'].isin(non_matches)]
happy2019_df = happy2019_df.loc[~happy2019_df['country'].isin(non_matches)]

['Comoros', 'Somalia', 'Oman', 'Laos', 'Djibouti', 'Somaliland region', 'Belize', 'South Sudan', 'Namibia', 'Swaziland', 'Suriname']

In [26]:
#running set operation one last time to make sure that rows are the same
countries_2017 = set(happy2017_df['country'].sort_values())
countries_2015 = set(happy2015_df['country'].sort_values())

non_matches = countries_2017 ^ countries_2015
print(non_matches,len(happy2015_df), len(happy2017_df))

set() 151 151

## Cleaning rows from happy2016_df

In [27]:
# Turning country columns to sets to make it easier to determine differences between them
countries_2016 = set(happy2016_df['country'].sort_values())

#comparing each set to the countries_2017 set since it contains the least amount of items
non_matches = countries_2017 ^ countries_2016

#differences between the dataframes
non_matches

{'Central African Republic',
 'Lesotho',
 'Mozambique',
 'Puerto Rico',
 'Somaliland Region'}

In [28]:
#remoing countries in no_matches from the dataframes (checked for false positives, but did not find any)
non_matches = list(non_matches)
print(non_matches)

happy2017_df = happy2017_df.loc[~happy2017_df['country'].isin(non_matches)]
happy2015_df = happy2015_df.loc[~happy2015_df['country'].isin(non_matches)]

#Also going to remove these from the rest of the dataframes
happy2016_df = happy2016_df.loc[~happy2016_df['country'].isin(non_matches)]
happy2018_df = happy2018_df.loc[~happy2018_df['country'].isin(non_matches)]
happy2019_df = happy2019_df.loc[~happy2019_df['country'].isin(non_matches)]

['Puerto Rico', 'Lesotho', 'Central African Republic', 'Mozambique', 'Somaliland Region']

In [29]:
#running set operation one last time to make sure that rows are the same
countries_2017 = set(happy2017_df['country'].sort_values())
countries_2016 = set(happy2016_df['country'].sort_values())

non_matches = countries_2017 ^ countries_2016
print(non_matches,len(happy2016_df), len(happy2017_df))

set() 148 148

## Cleaning rows from happy2018_df

In [30]:
#Turning country columns to sets to make it easier to determine differences between them
countries_2018 = set(happy2018_df['country'].sort_values())

#comparing each set to the countries_2017 set since it contains the least amount of items
non_matches = countries_2017 ^ countries_2018

#differences between the dataframes
non_matches

{'North Cyprus', 'Northern Cyprus', 'Trinidad & Tobago', 'Trinidad and Tobago'}

In [31]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
happy2017_df.loc[happy2017_df['country'].str.contains('Cypru')]

#using .at to select value
happy2017_df.at[60, "country"] = 'Northern Cyprus'
print(happy2017_df.at[60, "country"])

Northern Cyprus

In [32]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
happy2018_df.loc[happy2018_df['country'].str.contains('Toba')]

#using .at to select value
happy2018_df.at[37, "country"] = 'Trinidad and Tobago'
print(happy2017_df.at[37, "country"])

Trinidad and Tobago

In [33]:
#running set operation one last time to make sure that rows are the same
countries_2017 = set(happy2017_df['country'].sort_values())
countries_2018 = set(happy2018_df['country'].sort_values())

non_matches = countries_2017 ^ countries_2018
print(non_matches,len(happy2018_df), len(happy2017_df))

set() 148 148

## Cleaning rows from happy2019_df

In [34]:
#Turning country columns to sets to make it easier to determine differences between them
countries_2019 = set(happy2019_df['country'].sort_values())

#comparing each set to the countries_2017 set since it contains the least amount of items
non_matches = countries_2017 ^ countries_2019

#differences between the dataframes
non_matches

{'Angola',
 'Gambia',
 'Macedonia',
 'North Macedonia',
 'Sudan',
 'Trinidad & Tobago',
 'Trinidad and Tobago'}

In [35]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
happy2019_df.loc[happy2019_df['country'].str.contains('Toba')]

#using .at to select value
happy2019_df.at[38, "country"] = 'Trinidad and Tobago'
print(happy2019_df.at[38, "country"])

Trinidad and Tobago

In [36]:
#running the set operation a second time
countries_2017 = set(happy2017_df['country'].sort_values())
countries_2019 = set(happy2019_df['country'].sort_values())

non_matches = countries_2017 ^ countries_2019

#remoing countries in no_matches from the dataframes
non_matches = list(non_matches)
print(non_matches)

happy2017_df = happy2017_df.loc[~happy2017_df['country'].isin(non_matches)]
happy2015_df = happy2015_df.loc[~happy2015_df['country'].isin(non_matches)]

#Also going to remove these from the rest of the dataframes
happy2016_df = happy2016_df.loc[~happy2016_df['country'].isin(non_matches)]
happy2018_df = happy2018_df.loc[~happy2018_df['country'].isin(non_matches)]
happy2019_df = happy2019_df.loc[~happy2019_df['country'].isin(non_matches)]

['Gambia', 'Angola', 'Sudan', 'North Macedonia', 'Macedonia']

In [37]:
#running set operation one last time to make sure that rows are the same
countries_2017 = set(happy2017_df['country'].sort_values())
countries_2019 = set(happy2019_df['country'].sort_values())

non_matches = countries_2017 ^ countries_2019
print(non_matches,len(happy2019_df), len(happy2017_df))

set() 145 145

## Final row cleanup

In [38]:
#Going through to compare sets again
countries_2015 = set(happy2015_df['country'].sort_values())
non_matches = countries_2017 ^ countries_2015
print(non_matches)

{'North Cyprus', 'Northern Cyprus'}

In [39]:
happy2015_df.loc[happy2015_df['country'].str.contains('Cypru')]

#using .at to select value
happy2015_df.at[65, "country"] = 'Northern Cyprus'
print(happy2015_df.at[65, "country"])

Northern Cyprus

In [40]:
countries_2015 = set(happy2015_df['country'].sort_values())
non_matches = countries_2017 ^ countries_2015
print(non_matches)

set()

In [41]:
#Going through to compare sets again
countries_2016 = set(happy2016_df['country'].sort_values())
non_matches = countries_2017 ^ countries_2016
print(non_matches)

{'North Cyprus', 'Northern Cyprus'}

In [42]:
happy2016_df.loc[happy2016_df['country'].str.contains('Cypru')]

#using .at to select value
happy2016_df.at[61, "country"] = 'Northern Cyprus'
print(happy2016_df.at[61, "country"])

Northern Cyprus

In [43]:
countries_2016 = set(happy2016_df['country'].sort_values())
non_matches = countries_2017 ^ countries_2016
print(non_matches)

set()

In [44]:
#Going through to compare sets again
countries_2018 = set(happy2018_df['country'].sort_values())
non_matches = countries_2017 ^ countries_2018
print(non_matches)

set()

In [45]:
#Going through to compare sets again
countries_2019 = set(happy2019_df['country'].sort_values())
non_matches = countries_2017 ^ countries_2019
print(non_matches)

set()

## Combining dataframes into one

In [46]:
#Combining dataframes into one

happy_master_df = pd.concat([happy2015_df, happy2016_df, happy2017_df, happy2018_df, happy2019_df], ignore_index=True)

In [47]:
happy_master_df

,country,year,happiness_rank,happiness_score,gdp_per_capita,family_social_support,health_life_expectancy,freedom,trust_government_corruption,generosity
0,Switzerland,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811
...,...,...,...,...,...,...,...,...,...,...
720,Malawi,2019,150,3.410,0.19100,0.56000,0.49500,0.44300,0.08900,0.21800
721,Yemen,2019,151,3.380,0.28700,1.16300,0.46300,0.14300,0.07700,0.10800
722,Rwanda,2019,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700
723,Tanzania,2019,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600
724,Afghanistan,2019,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800

## Gini index

In [48]:
#loading the data
gini_income_raw = pd.read_csv('income_data/world_bank_income_data.csv')

#Saving copy of gini_index_raw to preserve data
gini_income = gini_income_raw.copy()

gini_income.head()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,Gini index,SI.POV.GINI,Afghanistan,AFG,..,..,..,..,..,..,..,..,..,..,..,..
1,Gini index,SI.POV.GINI,Albania,ALB,..,..,29,..,34.6,32.8,33.7,33.1,30.1,30.8,..,..
2,Gini index,SI.POV.GINI,Algeria,DZA,..,..,..,..,..,..,..,..,..,..,..,..
3,Gini index,SI.POV.GINI,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..,..,..
4,Gini index,SI.POV.GINI,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..,..

In [49]:
gini_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3197 entries, 0 to 3196
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    3194 non-null   object
 1   Series Code    3192 non-null   object
 2   Country Name   3192 non-null   object
 3   Country Code   3192 non-null   object
 4   1990 [YR1990]  3192 non-null   object
 5   2000 [YR2000]  3192 non-null   object
 6   2012 [YR2012]  3192 non-null   object
 7   2013 [YR2013]  3192 non-null   object
 8   2014 [YR2014]  3192 non-null   object
 9   2015 [YR2015]  3192 non-null   object
 10  2016 [YR2016]  3192 non-null   object
 11  2017 [YR2017]  3192 non-null   object
 12  2018 [YR2018]  3192 non-null   object
 13  2019 [YR2019]  3192 non-null   object
 14  2020 [YR2020]  3192 non-null   object
 15  2021 [YR2021]  3192 non-null   object
dtypes: object(16)
memory usage: 399.8+ KB

## Cleaning up column names

In [50]:
#removing everything before 2015
gini_income.drop(gini_income.iloc[:, 4:9], inplace=True, axis=1)

#removing everything after 2019
gini_income.drop(gini_income.iloc[:, 9:], inplace=True, axis=1)

gini_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3197 entries, 0 to 3196
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    3194 non-null   object
 1   Series Code    3192 non-null   object
 2   Country Name   3192 non-null   object
 3   Country Code   3192 non-null   object
 4   2015 [YR2015]  3192 non-null   object
 5   2016 [YR2016]  3192 non-null   object
 6   2017 [YR2017]  3192 non-null   object
 7   2018 [YR2018]  3192 non-null   object
 8   2019 [YR2019]  3192 non-null   object
dtypes: object(9)
memory usage: 224.9+ KB

In [51]:
#making columns headings lowercase
gini_income.columns = gini_income.columns.str.lower()

#change column names to use underscore instead of spaces
columns = gini_income.columns

corrected_columns = []
for col in columns:
    col = col.replace('[yr201','').replace(' ','_')
    corrected_columns.append(col)
    
    
#changing names of certain columns to be consisent with the rest of the dataframes
corrected_columns[0] = 'income_indicator'
corrected_columns[1] = 'income_indicator_code'
corrected_columns[2] = 'country'
corrected_columns[4] = '2015'
corrected_columns[5] = '2016'
corrected_columns[6] = '2017'
corrected_columns[7] = '2018'
corrected_columns[8] = '2019' 

    
gini_income.columns = corrected_columns

gini_income.columns

Index(['income_indicator', 'income_indicator_code', 'country', 'country_code',
       '2015', '2016', '2017', '2018', '2019'],
      dtype='object')

## Cleaning rows

In [52]:
gini_income

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
0,Gini index,SI.POV.GINI,Afghanistan,AFG,..,..,..,..,..
1,Gini index,SI.POV.GINI,Albania,ALB,32.8,33.7,33.1,30.1,30.8
2,Gini index,SI.POV.GINI,Algeria,DZA,..,..,..,..,..
3,Gini index,SI.POV.GINI,American Samoa,ASM,..,..,..,..,..
4,Gini index,SI.POV.GINI,Andorra,AND,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...
3192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3195,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3196,Last Updated: 09/16/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
#Replacing '..' value with blank value
gini_income['2015'] = gini_income['2015'].str.replace('..', '', regex=False)
gini_income['2015']

0
1       32.8
2
3
4
        ...
3192     NaN
3193     NaN
3194     NaN
3195     NaN
3196     NaN
Name: 2015, Length: 3197, dtype: object

In [54]:
#Replacing '..' value with blank value
gini_income['2016'] = gini_income['2016'].str.replace('..', '', regex=False)
gini_income['2016']

0
1       33.7
2
3
4
        ...
3192     NaN
3193     NaN
3194     NaN
3195     NaN
3196     NaN
Name: 2016, Length: 3197, dtype: object

In [55]:
#Replacing '..' value with blank value
gini_income['2017'] = gini_income['2017'].str.replace('..', '', regex=False)
gini_income['2017']

0
1       33.1
2
3
4
        ...
3192     NaN
3193     NaN
3194     NaN
3195     NaN
3196     NaN
Name: 2017, Length: 3197, dtype: object

In [56]:
#Replacing '..' value with blank value
gini_income['2018'] = gini_income['2018'].str.replace('..', '', regex=False)
gini_income['2018'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3197 entries, 0 to 3196
Series name: 2018
Non-Null Count  Dtype
--------------  -----
3192 non-null   object
dtypes: object(1)
memory usage: 25.1+ KB

In [57]:
#Replacing '..' value with blank value
gini_income['2019'] = gini_income['2019'].str.replace('..', '', regex=False)
gini_income['2019'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3197 entries, 0 to 3196
Series name: 2019
Non-Null Count  Dtype
--------------  -----
3192 non-null   object
dtypes: object(1)
memory usage: 25.1+ KB

In [58]:
#using mask to replace blank values with NaN
gini_income = gini_income.mask(gini_income == '')

gini_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3197 entries, 0 to 3196
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_indicator       3194 non-null   object
 1   income_indicator_code  3192 non-null   object
 2   country                3192 non-null   object
 3   country_code           3192 non-null   object
 4   2015                   1510 non-null   object
 5   2016                   1447 non-null   object
 6   2017                   1400 non-null   object
 7   2018                   1472 non-null   object
 8   2019                   1238 non-null   object
dtypes: object(9)
memory usage: 224.9+ KB

In [59]:
#dropping all NaN values
gini_income.dropna(inplace=True)
gini_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1167 entries, 1 to 3133
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_indicator       1167 non-null   object
 1   income_indicator_code  1167 non-null   object
 2   country                1167 non-null   object
 3   country_code           1167 non-null   object
 4   2015                   1167 non-null   object
 5   2016                   1167 non-null   object
 6   2017                   1167 non-null   object
 7   2018                   1167 non-null   object
 8   2019                   1167 non-null   object
dtypes: object(9)
memory usage: 91.2+ KB

In [60]:
#Correcting data type for 2015,2016, 2017, 2018, and 2019 columns
gini_income['2015'] = gini_income['2015'].astype(float)
gini_income['2016'] = gini_income['2016'].astype(float)
gini_income['2017'] = gini_income['2017'].astype(float)
gini_income['2018'] = gini_income['2018'].astype(float)
gini_income['2019'] = gini_income['2019'].astype(float)

gini_income.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1167 entries, 1 to 3133
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   income_indicator       1167 non-null   object
 1   income_indicator_code  1167 non-null   object
 2   country                1167 non-null   object
 3   country_code           1167 non-null   object
 4   2015                   1167 non-null   float64
 5   2016                   1167 non-null   float64
 6   2017                   1167 non-null   float64
 7   2018                   1167 non-null   float64
 8   2019                   1167 non-null   float64
dtypes: float64(5), object(4)
memory usage: 91.2+ KB

In [61]:
gini_income.head()

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
1,Gini index,SI.POV.GINI,Albania,ALB,32.8,33.7,33.1,30.1,30.8
8,Gini index,SI.POV.GINI,Armenia,ARM,32.4,32.5,33.6,34.4,29.9
11,Gini index,SI.POV.GINI,Austria,AUT,30.5,30.8,29.7,30.8,30.2
17,Gini index,SI.POV.GINI,Belarus,BLR,25.6,25.3,25.4,25.2,25.3
18,Gini index,SI.POV.GINI,Belgium,BEL,27.7,27.6,27.4,27.2,27.2

In [62]:
#matching countries to the ones in the Happy_master_df

gini_countries = set(gini_income['country'].values)
happy_countries = set(happy_master_df['country'].values)

non_matches = gini_countries ^ happy_countries

non_matches

{'Africa Eastern and Southern',
 'Africa Western and Central',
 'Angola',
 'Arab World',
 'Bahamas, The',
 'Barbados',
 'Belize',
 'Brunei Darussalam',
 'Cabo Verde',
 'Caribbean small states',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Djibouti',
 'Dominica',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Egypt',
 'Egypt, Arab Rep.',
 'Equatorial Guinea',
 'Eswatini',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Fiji',
 'Fragile and conflict affected situations',
 'Gambia, The',
 'Guinea-Bissau',
 'Guyana',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Hong Kong',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iran',
 'Iran, Islamic Rep.',
 'Ivory Coast',
 'Kiribati',
 'Korea, Rep.',
 'Kosovo',
 'Kyrgyz Republic',
 'Kyrgyzstan',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Lesotho',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Maldives',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Mozambique',
 'Namibia',
 'North America',
 'North Macedonia',
 'Northern Cyprus',
 'OECD members',
 'Oman',
 'Other small states',
 'Pacific island small states',
 'Palestinian Territories',
 'Papua New Guinea',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Russia',
 'Russian Federation',
 'Samoa',
 'Sao Tome and Principe',
 'Seychelles',
 'Slovak Republic',
 'Slovakia',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Korea',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Syria',
 'Taiwan',
 'Timor-Leste',
 'Tonga',
 'Turkey',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'United Kingdom',
 'Upper middle income',
 'Vanuatu',
 'Venezuela',
 'World',
 'Yemen'}

In [63]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
gini_income.loc[gini_income['country'].str.contains('Russ')]


#using change country value
gini_income['country'] = gini_income['country'].str.replace('Russian Federation', 'Russia', regex=False)
gini_income.loc[gini_income['country'].str.contains('Russ')]

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
161,Gini index,SI.POV.GINI,Russia,RUS,3.770000e+01,3.680000e+01,3.720000e+01,3.750000e+01,3.770000e+01
427,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,Russia,RUS,-5.329908e+00,-4.277363e+00,3.160426e+00,5.798343e+00,-1.349740e+00
693,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,Russia,RUS,-5.495378e+00,-4.449222e+00,3.011909e+00,5.803796e+00,-9.681295e-01
959,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,Russia,RUS,1.086804e+12,1.010782e+12,1.233100e+12,1.277141e+12,1.280765e+12
1225,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,Russia,RUS,7.423222e+03,7.092694e+03,7.308489e+03,7.732883e+03,7.631936e+03
1491,Income share held by fourth 20%,SI.DST.04TH.20,Russia,RUS,2.150000e+01,2.190000e+01,2.170000e+01,2.140000e+01,2.140000e+01
1757,Income share held by highest 10%,SI.DST.10TH.10,Russia,RUS,2.970000e+01,2.860000e+01,2.920000e+01,2.990000e+01,3.020000e+01
2023,Income share held by highest 20%,SI.DST.05TH.20,Russia,RUS,4.530000e+01,4.440000e+01,4.480000e+01,4.510000e+01,4.530000e+01
2289,Income share held by lowest 10%,SI.DST.FRST.10,Russia,RUS,2.800000e+00,2.800000e+00,2.900000e+00,2.900000e+00,2.900000e+00
2555,Income share held by lowest 20%,SI.DST.FRST.20,Russia,RUS,6.900000e+00,7.000000e+00,7.100000e+00,7.100000e+00,7.100000e+00
2821,Income share held by second 20%,SI.DST.02ND.20,Russia,RUS,1.110000e+01,1.120000e+01,1.120000e+01,1.120000e+01,1.110000e+01
3087,Income share held by third 20%,SI.DST.03RD.20,Russia,RUS,1.520000e+01,1.550000e+01,1.530000e+01,1.520000e+01,1.520000e+01

In [64]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
gini_income.loc[gini_income['country'].str.contains('Iran')]


#using change country value
gini_income['country'] = gini_income['country'].str.replace('Iran, Islamic Rep.', 'Iran', regex=False)
gini_income.loc[gini_income['country'].str.contains('Iran')]

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
91,Gini index,SI.POV.GINI,Iran,IRN,3.950000e+01,4.000000e+01,4.080000e+01,4.200000e+01,4.090000e+01
889,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,Iran,IRN,3.064803e+11,3.381466e+11,3.517886e+11,2.097013e+11,1.934630e+11
1421,Income share held by fourth 20%,SI.DST.04TH.20,Iran,IRN,2.160000e+01,2.170000e+01,2.170000e+01,2.130000e+01,2.160000e+01
1687,Income share held by highest 10%,SI.DST.10TH.10,Iran,IRN,3.060000e+01,3.090000e+01,3.130000e+01,3.250000e+01,3.170000e+01
1953,Income share held by highest 20%,SI.DST.05TH.20,Iran,IRN,4.640000e+01,4.670000e+01,4.730000e+01,4.850000e+01,4.750000e+01
2219,Income share held by lowest 10%,SI.DST.FRST.10,Iran,IRN,2.400000e+00,2.400000e+00,2.300000e+00,2.200000e+00,2.300000e+00
2485,Income share held by lowest 20%,SI.DST.FRST.20,Iran,IRN,6.300000e+00,6.100000e+00,5.900000e+00,5.800000e+00,6.000000e+00
2751,Income share held by second 20%,SI.DST.02ND.20,Iran,IRN,1.070000e+01,1.050000e+01,1.030000e+01,1.000000e+01,1.030000e+01
3017,Income share held by third 20%,SI.DST.03RD.20,Iran,IRN,1.500000e+01,1.490000e+01,1.480000e+01,1.430000e+01,1.470000e+01

In [65]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
gini_income.loc[gini_income['country'].str.contains('Kyrgy')]


#using change country value
gini_income['country'] = gini_income['country'].str.replace('Kyrgyz Republic', 'Kyrgyzstan', regex=False)
gini_income.loc[gini_income['country'].str.contains('Kyrgy')]

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
107,Gini index,SI.POV.GINI,Kyrgyzstan,KGZ,2.900000e+01,2.680000e+01,2.730000e+01,2.770000e+01,2.970000e+01
373,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,Kyrgyzstan,KGZ,1.900039e+00,1.350361e+01,4.605723e+00,1.179514e+01,-4.086925e+00
639,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,Kyrgyzstan,KGZ,-1.766559e-01,1.121468e+01,2.602448e+00,9.592054e+00,-6.068710e+00
905,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,Kyrgyzstan,KGZ,5.056791e+09,5.386731e+09,5.946203e+09,6.768169e+09,6.423165e+09
1171,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,Kyrgyzstan,KGZ,8.488965e+02,9.440975e+02,9.686671e+02,1.061582e+03,9.971578e+02
1437,Income share held by fourth 20%,SI.DST.04TH.20,Kyrgyzstan,KGZ,2.150000e+01,2.180000e+01,2.190000e+01,2.180000e+01,2.120000e+01
1703,Income share held by highest 10%,SI.DST.10TH.10,Kyrgyzstan,KGZ,2.480000e+01,2.290000e+01,2.330000e+01,2.360000e+01,2.580000e+01
1969,Income share held by highest 20%,SI.DST.05TH.20,Kyrgyzstan,KGZ,3.880000e+01,3.720000e+01,3.740000e+01,3.780000e+01,3.950000e+01
2235,Income share held by lowest 10%,SI.DST.FRST.10,Kyrgyzstan,KGZ,4.100000e+00,4.400000e+00,4.300000e+00,4.300000e+00,4.100000e+00
2501,Income share held by lowest 20%,SI.DST.FRST.20,Kyrgyzstan,KGZ,9.500000e+00,1.000000e+01,9.900000e+00,9.900000e+00,9.600000e+00
2767,Income share held by second 20%,SI.DST.02ND.20,Kyrgyzstan,KGZ,1.340000e+01,1.390000e+01,1.370000e+01,1.350000e+01,1.320000e+01
3033,Income share held by third 20%,SI.DST.03RD.20,Kyrgyzstan,KGZ,1.680000e+01,1.710000e+01,1.710000e+01,1.700000e+01,1.650000e+01

In [66]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
gini_income.loc[gini_income['country'].str.contains('Slova')]


#using change country value
gini_income['country'] = gini_income['country'].str.replace('Slovak Republic', 'Slovakia', regex=False)
gini_income.loc[gini_income['country'].str.contains('Slova')]

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
173,Gini index,SI.POV.GINI,Slovakia,SVK,2.650000e+01,2.520000e+01,2.320000e+01,2.500000e+01,2.320000e+01
439,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,Slovakia,SVK,3.932503e+00,1.044103e+00,3.417735e+00,4.079154e+00,1.737313e+00
705,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,Slovakia,SVK,3.833779e+00,9.139184e-01,3.257376e+00,3.935096e+00,1.599727e+00
971,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,Slovakia,SVK,7.126825e+10,7.175913e+10,7.704798e+10,8.602506e+10,8.524088e+10
1237,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,Slovakia,SVK,1.313991e+04,1.326000e+04,1.369193e+04,1.423072e+04,1.445837e+04
1503,Income share held by fourth 20%,SI.DST.04TH.20,Slovakia,SVK,2.320000e+01,2.320000e+01,2.350000e+01,2.350000e+01,2.320000e+01
1769,Income share held by highest 10%,SI.DST.10TH.10,Slovakia,SVK,2.090000e+01,1.990000e+01,1.840000e+01,1.960000e+01,1.880000e+01
2035,Income share held by highest 20%,SI.DST.05TH.20,Slovakia,SVK,3.500000e+01,3.400000e+01,3.260000e+01,3.380000e+01,3.280000e+01
2301,Income share held by lowest 10%,SI.DST.FRST.10,Slovakia,SVK,3.000000e+00,2.900000e+00,3.500000e+00,3.200000e+00,3.600000e+00
2567,Income share held by lowest 20%,SI.DST.FRST.20,Slovakia,SVK,8.500000e+00,8.700000e+00,9.400000e+00,8.800000e+00,9.500000e+00
2833,Income share held by second 20%,SI.DST.02ND.20,Slovakia,SVK,1.460000e+01,1.510000e+01,1.540000e+01,1.500000e+01,1.540000e+01
3099,Income share held by third 20%,SI.DST.03RD.20,Slovakia,SVK,1.870000e+01,1.900000e+01,1.910000e+01,1.880000e+01,1.900000e+01

In [67]:
#changing the values of the countries that are the same, but have a different spelling (Checking for false positives)
gini_income.loc[gini_income['country'].str.contains('Turk')]


#using change country value
gini_income['country'] = gini_income['country'].str.replace('Turkiye', 'Turkey', regex=False)
gini_income.loc[gini_income['country'].str.contains('Turk')]

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
198,Gini index,SI.POV.GINI,Turkey,TUR,4.290000e+01,4.190000e+01,4.140000e+01,4.190000e+01,4.190000e+01
996,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,Turkey,TUR,7.274280e+11,7.293054e+11,7.166803e+11,6.579581e+11,6.318509e+11
998,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,Turks and Caicos Islands,TCA,8.613092e+08,9.443512e+08,9.138557e+08,9.780331e+08,1.049836e+09
1528,Income share held by fourth 20%,SI.DST.04TH.20,Turkey,TUR,2.110000e+01,2.160000e+01,2.150000e+01,2.110000e+01,2.180000e+01
1794,Income share held by highest 10%,SI.DST.10TH.10,Turkey,TUR,3.350000e+01,3.210000e+01,3.190000e+01,3.260000e+01,3.160000e+01
2060,Income share held by highest 20%,SI.DST.05TH.20,Turkey,TUR,4.920000e+01,4.830000e+01,4.790000e+01,4.850000e+01,4.800000e+01
2326,Income share held by lowest 10%,SI.DST.FRST.10,Turkey,TUR,2.100000e+00,2.200000e+00,2.200000e+00,2.200000e+00,2.000000e+00
2592,Income share held by lowest 20%,SI.DST.FRST.20,Turkey,TUR,5.600000e+00,5.700000e+00,5.800000e+00,5.800000e+00,5.400000e+00
2858,Income share held by second 20%,SI.DST.02ND.20,Turkey,TUR,9.900000e+00,9.900000e+00,1.020000e+01,1.010000e+01,1.010000e+01
3124,Income share held by third 20%,SI.DST.03RD.20,Turkey,TUR,1.420000e+01,1.450000e+01,1.460000e+01,1.450000e+01,1.460000e+01

In [68]:
#running the set operation a second time
gini_countries = set(gini_income['country'].values)
happy_countries = set(happy_master_df['country'].values)

non_matches = gini_countries ^ happy_countries

#remoing countries in no_matches from the dataframes
non_matches = list(non_matches)
print(non_matches)

gini_income = gini_income.loc[~gini_income['country'].isin(non_matches)]
happy_master_df = happy_master_df.loc[~happy_master_df['country'].isin(non_matches)]

['Sao Tome and Principe', 'Brunei Darussalam', 'Comoros', 'IDA & IBRD total', 'Late-demographic dividend', 'Sub-Saharan Africa', 'Somalia', 'Seychelles', 'Turkmenistan', 'Ivory Coast', 'Euro area', 'Oman', 'Timor-Leste', 'Samoa', 'OECD members', 'Dominica', 'Caribbean small states', 'Lesotho', 'East Asia & Pacific (IDA & IBRD countries)', 'Central African Republic', 'Papua New Guinea', 'East Asia & Pacific', 'Sub-Saharan Africa (excluding high income)', 'St. Vincent and the Grenadines', 'Congo (Kinshasa)', 'Equatorial Guinea', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Europe & Central Asia (excluding high income)', 'Djibouti', 'Hong Kong', 'Latin America & Caribbean (excluding high income)', 'Eswatini', 'Korea, Rep.', 'Congo, Rep.', 'Early-demographic dividend', 'Syria', 'Low & middle income', 'Solomon Islands', 'Gambia, The', 'Fiji', 'IDA blend', 'Taiwan', 'Turks and Caicos Islands', 'Europe & Central Asia', 'Africa Western and Central', 'IBRD only', 'IDA total', 'World', 'Other small states', 'High income', 'Least developed countries: UN classification', 'Maldives', 'Angola', 'Lao PDR', 'Middle income', 'North America', 'Bahamas, The', 'Latin America & Caribbean', 'Belize', 'Fragile and conflict affected situations', 'Arab World', 'Lower middle income', 'Small states', 'East Asia & Pacific (excluding high income)', 'Egypt', 'Central Europe and the Baltics', 'Middle East & North Africa (IDA & IBRD countries)', 'Low income', 'Post-demographic dividend', 'Middle East & North Africa (excluding high income)', 'United Kingdom', 'Sudan', 'Kosovo', 'Cabo Verde', 'Africa Eastern and Southern', 'North Macedonia', 'Venezuela', 'Namibia', 'Upper middle income', 'Kiribati', 'Middle East & North Africa', 'Yemen', 'Heavily indebted poor countries (HIPC)', "Cote d'Ivoire", 'Barbados', 'Egypt, Arab Rep.', 'European Union', 'Europe & Central Asia (IDA & IBRD countries)', 'Pacific island small states', 'Northern Cyprus', 'Pre-demographic dividend', 'South Asia', 'Mozambique', 'Sub-Saharan Africa (IDA & IBRD countries)', 'IDA only', 'Palestinian Territories', 'Congo, Dem. Rep.', 'Tonga', 'St. Lucia', 'Vanuatu', 'Guinea-Bissau', 'Suriname', 'South Korea', 'South Asia (IDA & IBRD)', 'Congo (Brazzaville)', 'Micronesia, Fed. Sts.', 'Guyana']

In [69]:
#running set operation one last time to make sure that rows are the same
gini_countries = set(gini_income['country'].values)
happy_countries = set(happy_master_df['country'].values)

non_matches = gini_countries ^ happy_countries

print(non_matches,len(gini_countries), len(happy_countries))

set() 130 130

In [70]:
gini_income.head()

,income_indicator,income_indicator_code,country,country_code,2015,2016,2017,2018,2019
1,Gini index,SI.POV.GINI,Albania,ALB,32.8,33.7,33.1,30.1,30.8
8,Gini index,SI.POV.GINI,Armenia,ARM,32.4,32.5,33.6,34.4,29.9
11,Gini index,SI.POV.GINI,Austria,AUT,30.5,30.8,29.7,30.8,30.2
17,Gini index,SI.POV.GINI,Belarus,BLR,25.6,25.3,25.4,25.2,25.3
18,Gini index,SI.POV.GINI,Belgium,BEL,27.7,27.6,27.4,27.2,27.2

## Turn years into row columns